<aside id="menu" >
	<!-- <ul class="nav nav-list"> -->
	<ul  class="nav nav-list">
	<li><a href="#"> <i class="fa fa-bolt"></i> 雷击电流</a>
	      <ul  class="nav-2">
	        <li ng-class="{true: 'menu-data-active', false: 'inactive'}[i_now_isActive]"><a href="data_i.html"><i class="fa fa-sitemap"></i>&nbsp;实时数据</a></li>
	        <li><a href="data_i_h.html"><i class="fa fa-sitemap"></i>&nbsp;历史记录</a></li>
	        
	      </ul>
	</li>
	<li><a href="#"> <i class="fa fa-registered"></i> 接地电阻</a>
	      <ul class="nav-2">
	        <li><a href="data_r.html"><i class="fa fa-sitemap"></i>&nbsp;实时数据</a></li>
	        <li><a href="data_r_h.html"><i class="fa fa-sitemap"></i>&nbsp;历史记录</a></li>
	        <li><a href="r_chart.html"><i class="fa fa-sitemap"></i>&nbsp;图形分析</a></li>
	      </ul>
	</li>
		<li><a href="data_spd.html"> <i
				class="fa fa-server"></i> SPD状态
		</a></li>
	<!-- <li><a href="#"> <i class="fa fa-magnet"></i> SPD状态</a>
	      <ul class="nav-2">
	        <li><a href="data_spd.html"><i class="fa fa-sitemap"></i>&nbsp;实时数据</a></li>
	        <li><a href="data_spd_h.html"><i class="fa fa-sitemap"></i>&nbsp;历史记录</a></li>
	      </ul>
	</li> -->
		<li><a href="siteattr.html"> <i
				class="fa fa-server"></i> 站点数据
		</a></li>
			<!-- <li><a href="siteMap.html"> <i
				class="fa fa-map"></i> 站点分布
		</a></li> -->
		<li><a href="alarm.html"> <i
				class="fa fa-exclamation-triangle"></i> 站点告警
		</a></li>

		
		
	</ul>
</aside>